@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');


:root{
    --primary-color: #e1a740;
    --secondary-color: rgb(6, 16, 58);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

.container{
    max-width: 1100vh;
    margin:auto;
    padding:0 2rem;
    text-align: center;
}

img {
    max-width: 60px;
    margin-left: 2rem;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
} 

#home .navbar nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 1.5rem 2rem;
    /* background-color: var(--secondary-color); */
    position: fixed;
    z-index: 1;
}


#home .navbar nav ul{
    display: flex;
    align-items: center;
}

#home .navbar nav ul a{
    margin: 0px 15px;
    font-weight: 600;
}

/* header start */
.header-content{
    text-align: center;
    /* margin: 25rem; */
    padding-top: 20rem;
    padding-bottom: 15rem;
}
.text-primary{
    color: var(--primary-color);
}
.header-content h1{
    color: #fff;
    font-weight: 700;
    font-family: sans-serif;
}
.header-content p{
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    color: #fff;
}

.header-content .btn1{
    background: local;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

.header-content .btn1:hover {
    background-color: #e1a740;
}

#home {
    background-image: url(./img/bckg.jpg);
    background-size: 100% 100%;
    position: relative;
}
/* #home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
} */

/* header end */

/* about start */
#about, #offer, #menu, #gallery, #contact {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    color: #fff;
}
#about .container h1 {
    text-align: center;
    padding: 2rem 0;
    font-weight: bold;
    margin-top: 4rem;
}

#about .row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
#about .item:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2, 0fr);
}

#about .item img {
    min-width: 150px;
    border-radius: 10px;
}

#about .item a{
    color: #e1a740;
    border: 1px solid #e1a740;
    border-radius: 8px;
    padding: 8px;
}

#about .item a:hover {
    background-color: #e7d4b3;
}

#about .item p{
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    color: #fff;
    line-height: 1.6;
}
/* about end */

/* offer start */

#offer h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 4rem;
}

#offer p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

#offer .offer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}
#offer .offer-content .row {
    background-color: #030227;
    margin: 0 1rem;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #e1a740;
}
#offer img{
    border-radius: 100%;
}

/* offer end */

/* menu start */

#menu .menu-content .row{
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    column-gap: 10rem;
    background-color: #030227;
    margin: 0 1rem;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #e1a740;
}

#menu .item:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
}

#menu .menu-content{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    row-gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 14rem;
}

#menu img{
    padding: 0 1rem 0 0;
}

/* menu end */

/* service start */

#service {
    background-color: #e1a740;
    padding: 2rem 0;
}

#service .service-content {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
}

#service .service-content .item {
    text-align: center;
    align-items: center;
}

#service .service-content .item img {
    padding-right: 1.5rem;
}

/* service end */

/* gallery start */

#gallery .gallery-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    align-items: center;
    margin-left: 10rem;
    margin-top: 2rem;
}

/* gallery end */

/* contact start */

#contact h1{
    margin-bottom: 2rem;
}

#contact .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

#contact .contact-content .row:nth-child(2) input,textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border:1px solid #bbb;
}

#contact  a {
    padding: 0 0.5rem;
    font-size: 25px;
    color: #e1a740;
}
#contact button{
    border: 2px;
    padding:8px;
    border-radius: 10px;
    background-color: #e1a740;
    cursor: pointer;
}

/* contact end */
/* footer satart */
#footer{
    margin: auto;
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
/* footer end */

/* media for ipad */

@media(max-width: 768px){
    
    img {
        max-width: 30px;
        margin-left: 0.5rem;
        
    }
    
    #menu .menu-content {
        margin-left: 0rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #menu img {
        min-width: 50px;
    }

    #service img {
        min-width: 70px;
    }

    #gallery .gallery-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 13rem;
        margin-top: o;
    }
    
}

@media(max-width: 412px){
    #home .navbar nav {
        display: block;
        align-items: center;
        justify-content: block;
    }

    #home .navbar nav ul a{
        margin: 0px 8px;
        font-weight: 400;
    }

    .header-content h1{
        font-weight: 500;
    }

    #home img {
        margin: 0 10rem;
        align-items: center;
    }

    #about .row {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    #menu .menu-content .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #menu .menu-content p{
        padding-left: 10rem;
    }

    #gallery .gallery-content {
        margin-left: 5rem;
    }
    
    #contact .contact-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }

}